{% extends "backend/admin/base/base.html.twig" %}

{% block title %}{{ parent() }} - Créer une donnée{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('backend/admin/dashboard/content/page/edit') }}

    {% include 'backend/admin/dashboard/elements/_side-menu.html.twig' %}
    <div class="p-4 sm:ml-64">
        <h1 class="text-2xl font-semibold mb-2 text-gray-900 dark:text-white">Créer une page</h1>
        {{ form_start(form, {'attr': {'id': 'form-edit-page-js'}}) }}

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">Configurations</h2>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.website, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.website, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.website.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.website.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.name, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.name, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.name.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.name.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.title, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.title, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.title.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.title.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.pageType, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.pageType, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.pageType.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.pageType.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.parent, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.parent, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.parent.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.parent.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.weight, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.weight, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.weight.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.weight.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="text-xs">
                {{ form_label(form.displayType, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.displayType, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.displayType.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.displayType.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">Contenu</h2>

        <div class="mb-2 text-xs">
            {{ form_label(form.description, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.description, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.description.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.description.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="text-xs">
            {{ form_label(form.contentPrimary, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.contentPrimary, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.contentPrimary.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.contentPrimary.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="text-xs">
            {{ form_label(form.contentSecondary, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.contentSecondary, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.contentSecondary.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.contentSecondary.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="text-xs">
            {{ form_label(form.contentTertiary, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.contentTertiary, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.contentTertiary.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.contentTertiary.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="text-xs">
            {{ form_label(form.contentQuaternary, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.contentQuaternary, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.contentQuaternary.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.contentQuaternary.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">Bannière et miniature</h2>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.banner, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.banner, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.banner.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.banner.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.imageThumbnail, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.imageThumbnail, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.imageThumbnail.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.imageThumbnail.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">CTA</h2>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.ctaTitle, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.ctaTitle, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.ctaTitle.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.ctaTitle.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.ctaText, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.ctaText, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.ctaText.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.ctaText.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.ctaUrl, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.ctaUrl, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.ctaUrl.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.ctaUrl.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">Seo</h2>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.canonicalUrl, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.canonicalUrl, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.canonicalUrl.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.canonicalUrl.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.slug, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.slug, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.slug.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.slug.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.metaTitle, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.metaTitle, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.metaTitle.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.metaTitle.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.metaDescription, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.metaDescription, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.metaDescription.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.metaDescription.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">Dev</h2>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-2 mb-2">
            <div class="text-xs">
                {{ form_label(form.devCodeRouteName, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.devCodeRouteName, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.devCodeRouteName.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.devCodeRouteName.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.template, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.template, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.template.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.template.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="text-xs">
                {{ form_label(form.devKey, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.devKey, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.devKey.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.devKey.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="mb-5">
            {{ form_widget(form.visibleForBackendActions, { 'attr': { 'class': 'scale-150 mr-2 text-xs p-1 border border-gray-300 rounded focus:ring-gray-800 focus:border-gray-800' } }) }}
            {{ form_label(form.visibleForBackendActions, null, { 'label_attr': { 'class': 'text-xs text-gray-900 dark:text-white' } }) }}

            {% if form.visibleForBackendActions.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.visibleForBackendActions.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <h2 class="text-1xl font-semibold mb-2 text-gray-900 dark:text-white">Publication</h2>

        <div class="mb-5">
            {{ form_widget(form.isPublished, { 'attr': { 'class': 'scale-150 mr-2 text-xs p-1 border border-gray-300 rounded focus:ring-gray-800 focus:border-gray-800' } }) }}
            {{ form_label(form.isPublished, null, { 'label_attr': { 'class': 'text-xs text-gray-900 dark:text-white' } }) }}

            {% if form.isPublished.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.isPublished.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex flex-wrap">
            <div class="w-full md:w-auto mb-2 md:mb-0">
                <button type="submit"
                        id="submit-button-edit-page-js"
                        class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Modifier
                </button>
            </div>

            <div id="container-reset-button" class="w-full md:w-auto mb-2 md:mb-0 md:ml-2">
                <a href="{{ returnReferer('app_backend_admin_content_page_list') }}">
                    <button type="button"
                            class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Retour
                    </button>
                </a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    {{ encore_entry_script_tags('backend/admin/dashboard/content/page/edit') }}
{% endblock %}
