<div>
    <div class="flex flex-wrap -mx-2">
        {% for child in children %}
            <div class="w-full sm:w-1/2 xl:w-1/3 px-2">
                <div class="mb-4 border-2 border-gray-100">
                    <a href="{{ absolute_url(path('page_index', {'uri' : child.page.slug})) }}">
                        {% if child.page.thumbnail %}
                            <img class="w-full h-auto" src="{{ image_directory ~ child.page.thumbnail.name }}" alt="{{ child.page.thumbnail.alt ? child.page.thumbnail.alt : '' }}"/>
                        {% elseif child.page.banner %}
                            <img class="w-full h-auto" src="{{ image_directory ~ child.page.banner.name }}" alt="{{ child.page.banner.alt ? child.page.banner.alt : '' }}"/>
                        {% else %}
                            <img class="w-full h-auto" src="{{ asset('assets/images/elements/no-image.png') }}" alt="no image">
                        {% endif %}
                    </a>
                    <div class="p-2">
                        <h3>{{ child.pageElements.title }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>