{% extends "backend/admin/base/base.html.twig" %}

{% block title %}{{ parent() }} - Modifier l'image{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('backend/admin/dashboard/content/media/edit') }}

    {% include 'backend/admin/dashboard/elements/_side-menu.html.twig' %}

    <div class="p-4 sm:ml-64">
        <h1 class="text-2xl font-semibold mb-2 text-gray-900 dark:text-white">Modifier l'image</h1>

        {{ form_start(form, {'attr': {'id': 'form-edit-media-js'}}) }}

        <div class="mb-2 text-xs">
            {{ form_label(form.title, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.title, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.title.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.title.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-4 text-xs">
            {{ form_label(form.category, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.category, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.category.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.category.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-4 text-xs">
            {{ form_label(form.description, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.description, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.description.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.description.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-4 text-xs">
            {{ form_label(form.alt, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.alt, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
            {% if form.alt.vars.errors %}
                <div class="mt-1 text-red-600 text-xs">
                    {% for error in form.alt.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex flex-wrap mt-4">
            <div class="w-full md:w-auto mb-2 md:mb-0">
                <button type="submit"
                        id="submit-button-edit-media-js"
                        class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Modifier
                </button>
            </div>

            <div id="container-reset-button" class="w-full md:w-auto mb-2 md:mb-0 md:ml-2">
                <a href="{{ returnReferer('app_backend_content_media_list') }}">
                    <button type="button"
                            class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Retour
                    </button>
                </a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    {{ encore_entry_script_tags('backend/admin/dashboard/content/media/edit') }}
{% endblock %}
