{% extends 'backend/admin/base/base.html.twig' %}

{% block title %}{{ parent() }} - Bibliothèque{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('backend/admin/dashboard/content/media/list') }}

    {% include 'backend/admin/dashboard/elements/_side-menu.html.twig' %}
    {% include 'backend/admin/dashboard/content/media/elements/modal/_import-media-modal.html.twig' %}

    <div class="p-2 sm:ml-64">
        <div class="p-2">
            {% include 'backend/admin/dashboard/content/media/elements/_create-media-image-button.html.twig' %}
        </div>
    </div>

    <div class="p-2 sm:ml-64">
        <div class="p-2 mb-5">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
                {% for image in pagination %}
                    <div class="card border border-gray-300 rounded">
                        <img class="w-full h-48 object-cover rounded-t" src="{{ image_directory ~ image.name }}"
                             alt="{{ image.alt }}">
                        <div class="p-4">
                            <div class="flex justify-between">
                                <a href="{{ path('app_backend_content_media_edit', {'id': image.id}) }}"
                                   class="font-medium text-white dark:text-white rounded py-2 px-4 bg-blue-600 hover:bg-blue-500 mr-1 my-1"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                <p class="bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 rounded text-gray-900 font-bold py-2 px-4 flex items-center justify-center">
                                    {{ image.id }}
                                </p>
                            </div>
                            <div class="mt-4 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 rounded text-gray-900 font-bold">
                                <div class="flex flex-col">
                                    <p class="text-md w-full text-center bg-gray-900 text-white p-1 rounded-t">Chemin
                                        relatif</p>
                                    <p class="text-xs m-2 p-2">{{ image_directory ~ image.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {# Pagination #}
        {% if pagination.items is not empty %}
            <div class="flex justify-center mb-2">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>


    {{ encore_entry_script_tags('backend/admin/dashboard/content/media/list') }}
{% endblock %}


