{% extends 'backend/admin/base/base.html.twig' %}

{% block title %}{{ parent() }} - Tableau de bord{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('backend/admin/dashboard') }}

    {% include 'backend/admin/dashboard/elements/_side-menu.html.twig' %}

    <div class="p-4 sm:ml-64">
        <div class="flex items-center justify-center flex-col h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
            <h2 class="text-xs sm:text-sm text-gray-900 dark:text-white text-center">Heure</h2>
            <p class="text-5xl text-gray-900 dark:text-white" id="dashboard-current-hour">
                {# Inject current hour #}
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex items-center justify-center flex-col h-28 rounded bg-gray-50 dark:bg-gray-800 p-1">
                <h2 class="text-xs sm:text-sm text-gray-900 dark:text-white text-center">Nombre d'utilisateurs Backend</h2>
                <div>
                    <a href="{{ path('app_backend_advanced_data_user_backend_list') }}">
                        <p class="text-3xl text-gray-900 dark:text-white">
                            {{ userBackendCount }}
                        </p>
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center flex-col h-28 rounded bg-gray-50 dark:bg-gray-800 p-1">
                <h2 class="text-xs sm:text-sm text-gray-900 dark:text-white text-center">Nombre d'utilisateurs Frontend</h2>
                <div>
                    <p class="text-3xl text-gray-900 dark:text-white">
                        {{ userApplicationCount }}
                    </p>
                </div>
            </div>
            <div class="flex items-center justify-center flex-col rounded bg-gray-50 h-28 dark:bg-gray-800 p-1">
                <h2 class="text-xs sm:text-sm text-gray-900 dark:text-white text-center">Nombre de pages</h2>
                <div>
                    <a href="{{ path('app_backend_admin_content_page_list') }}">
                        <p class="text-3xl text-gray-900 dark:text-white">
                            {{ pageCount }}
                        </p>
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center flex-col rounded bg-gray-50 h-28 dark:bg-gray-800 p-1">
                <h2 class="text-xs sm:text-sm text-gray-900 dark:text-white text-center">Nombre de données</h2>
                <div>
                    <a href="{{ path('app_backend_advanced_data_data_enum_list') }}">
                        <p class="text-3xl text-gray-900 dark:text-white">
                            {{ dataEnumCount }}
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
            <div class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
            <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
        </div>
        <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 1v16M1 9h16"/>
                </svg>
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
        </div>
    </div>

    {{ encore_entry_script_tags('backend/admin/dashboard') }}
{% endblock %}
