{% extends "backend/admin/base/base.html.twig" %}

{% block title %}{{ parent() }} - Modifier {{ app.user.id == userBackend.id ? "mon compte" : "l'utilisateur backend" }}{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('backend/admin/dashboard/advancedData/userBackend/edit') }}

    {% include 'backend/admin/dashboard/elements/_side-menu.html.twig' %}

    <div class="p-2 sm:ml-64">
        <div class="p-2">
            <h1 class="text-2xl font-semibold mb-2 text-gray-900 dark:text-white">
                {% if app.user.id == userBackend.id %}
                    Mon compte
                {% else %}
                    Modifier l'utilisateur Backend
                {% endif %}
            </h1>
            {{ form_start(form, {'attr': {'id': 'form-edit-backend-user-js'}}) }}

            <div class="mb-2 text-xs">
                {{ form_label(form.username, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.username, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.username.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.username.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-4 text-xs">
                {{ form_label(form.email, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                <span class="text-red-500 font-semibold">*</span>
                {{ form_widget(form.email, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                {% if form.email.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.email.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="text-xs">
                {{ form_label(form.information.pictureProfileFile, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.information.pictureProfileFile, { 'attr': { 'class': 'w-full text-xs p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}

                {% if userBackend.information.pictureProfileName is not null %}
                    <div class="mt-1">
                        <img src="{{ picture_profile_directory ~ userBackend.information.pictureProfileName }}" class="w-48 h-48 object-cover rounded" alt="picture profile">
                    </div>
                {% endif %}

                {% if form.information.pictureProfileFile.vars.errors %}
                    <div class="mt-1 text-red-600 text-xs">
                        {% for error in form.information.pictureProfileFile.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if userBackend.information.pictureProfileName is not null %}
                <div class="mb-5">
                    {{ form_widget(form.deletePictureProfile, { 'attr': { 'class': 'mr-2 text-xs p-1 border border-gray-300 rounded focus:ring-gray-800 focus:border-gray-800' } }) }}
                    {{ form_label(form.deletePictureProfile, null, { 'label_attr': { 'class': 'text-xs text-gray-900 dark:text-white' } }) }}

                    {% if form.deletePictureProfile.vars.errors %}
                        <div class="mt-1 text-red-600 text-xs">
                            {% for error in form.deletePictureProfile.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="w-full md:w-auto mb-2 md:mb-0">
                <button type="button" id="button-edit-password-js"
                        class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Modifier le mot de passe
                </button>
            </div>

            <div id="container-password-js" class="hidden mt-2">
                <div class="mb-4 text-xs">
                    {{ form_label(form.password.password.first, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(form.password.password.first, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                    {% if form.password.password.first.vars.errors %}
                        <div class="mt-1 text-red-600 text-xs">
                            {% for error in form.password.password.first.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-4 text-xs">
                    {{ form_label(form.password.password.second, null, { 'label_attr': { 'class': 'text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(form.password.password.second, { 'attr': { 'class': 'text-xs w-full p-1 border border-gray-300 rounded focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500' } }) }}
                    {% if form.password.password.second.vars.errors %}
                        <div class="mt-1 text-red-600 text-xs">
                            {% for error in form.password.password.second.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="flex flex-wrap mt-4">
                <div class="w-full md:w-auto mb-2 md:mb-0">
                    <button type="submit"
                            id="submit-button-edit-backend-user-js"
                            class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Modifier
                    </button>
                </div>

                <div id="container-reset-button" class="w-full md:w-auto mb-2 md:mb-0 md:ml-2">
                    <a href="{{ returnReferer('app_backend_advanced_data_user_backend_list') }}">
                        <button type="button"
                                class="w-full text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            Retour
                        </button>
                    </a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    {{ encore_entry_script_tags('backend/admin/dashboard/advancedData/userBackend/edit') }}

{% endblock %}
