<div>
    <img src="{{ image_directory ~ page.banner.name }}" alt="{{ pageElements.bannerAlt ? pageElements.bannerAlt : '' }}" />
    {% if pageElements.bannerTitle is not null %}
        <p>{{ pageElements.bannerTitle|raw }}</p>
    {% endif %}
    {% if pageElements.ctaTitle %}
        <a target="_blank" href="{{page.ctaUrl}}">
            <button>{{ pageElements.ctaTitle|raw }}</button>
        </a>
    {% endif %}
</div>