{% extends "backend/admin/base/base.html.twig" %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block body %}
    {% include 'backend/admin/dashboard/elements/_side-menu.html.twig' %}

    <div class="p-4 sm:ml-64">
        <h1 class="text-2xl font-semibold mb-2 text-gray-900 dark:text-white">Mon profil</h1>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4 rounded bg-gray-100 dark:bg-gray-800 p-2">
            <div class="flex flex-col md:flex-row">
                <div class="mb-4 md:mb-0 md:flex-none">
                    {% if app.user.information.pictureProfileName is not null %}
                        <img class="rounded-full w-[148px] h-[148px]" src="{{ picture_profile_directory ~ app.user.information.pictureProfileName }}" alt="picture profile">
                    {% else %}
                        <img class="rounded-full w-[148px] h-[148px]" src="{{ image_elements_directory ~ 'default-avatar.jpg' }}" alt="picture profile">
                    {% endif %}
                </div>

                <div class="flex-grow ml-4">
                    <div>
                        <p class="text-gray-500 dark:text-gray-400 text-xs mt-2">Nom d'utilisateur</p>
                        <p class="text-gray-900 dark:text-white text-sm font-semibold">{{ app.user.username ? app.user.username: 'Non renseigné' }}</p>
                    </div>
                    <div>
                        <p class="text-gray-500 dark:text-gray-400 text-xs mt-2">Adresse email</p>
                        <p class="text-gray-900 dark:text-white text-sm font-semibold">{{ app.user.email }}</p>
                    </div>
                    <div>
                        <p class="text-gray-500 dark:text-gray-400 text-xs mt-2">Dernière connexion</p>
                        <p class="text-gray-900 dark:text-white text-sm font-semibold">{{ app.user.lastLoginAt ? app.user.lastLoginAt|date('d/m/Y') ~ ' à '~ app.user.lastLoginAt|date('H:i') : 'Non renseigné' }}</p>
                    </div>
                </div>
            </div>
        </div>

        <a href="{{ returnReferer('app_backend_advanced_data_user_backend_edit', app.user.id) }}">
            <button type="button"
                    class="block w-full sm:inline-block sm:w-auto text-xs px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Modifier mon profil
            </button>
        </a>
    </div>
{% endblock %}
